@import "tailwindcss";
/* * {
  outline: 2px solid limegreen;
} */

@layer components {
  .btn-shared {
    @apply rounded-full p-2 w-fit border  border-neutral-300 cursor-pointer;
  }

  .btn-filter {
    @apply bg-neutral-100 px-4 py-3 rounded-3xl text-neutral-700 font-medium capitalize cursor-pointer;
  }

  .btn-filter:hover,
  .btn-filter:focus-visible {
    @apply bg-neutral-200;
  }

  .input-design {
    @apply w-full max-w-lg bg-neutral-100 px-4 py-3 rounded-3xl outline-none placeholder:text-neutral-800;
  }
}

@layer utilities {
  @keyframes border-gold {
    0% {
      border-image-source: linear-gradient(90deg, gold, orange, gold);
      border-image-slice: 1;
    }
    100% {
      border-image-source: linear-gradient(450deg, gold, orange, gold);
      border-image-slice: 1;
    }
  }

  .animate-border-gold {
    border-image: linear-gradient(90deg, gold, orange, gold) 1;
    animation: border-gold 3s linear infinite;
  }
}
